<script id="bootstrap-current-user" type="text/javascript">
  <% if logged_in? %>
  	window.currentUser = <%= render("api/users/user.json.jbuilder",
  		user: current_user).html_safe %>
  <% end %>
</script>
<script>
  window.image_url = "<%= asset_path("willis-tower.jpg") %>"
</script>
</script>
<script src="https://unpkg.com/remarkable@1.6.2/dist/remarkable.min.js">
</script>

<main id="root"></main>
