#feed {
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 60px;
  letter-spacing: 0.5px;
  -webkit-animation: slideUp 0.8s;
}

.feed-item-container {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top:70px;
    background-color: #CC9999;
  }

.feed-item {
  background-color: white;
  margin: 20px 0;
  width: 300px;
  height: 300px;
  border:60px solid #ededed;
  justify-content: center;
  display: flex;
  flex-direction: column;
  text-align: center;
}
