.imageList {
  display: flex;
  flex-flow: row wrap;
}

.feed-item {
  height: 350px;
  display: flex;
  flex-flow: column nowrap;
  position: relative;
  margin: 5px;
}

.photo {
   height: 100%;
   max-width: 600px;
}

.feed-item-description {
  width: 300px;
  position: absolute;
  bottom: 10px;
  left: 10px;
  display: flex;
  flex-flow: row nowrap;
  color: white;
}

.photo-title {
  margin-left: 15px;
  color: lightgrey;
}

.description {
  display: none;
}

.imageList {
  padding-top: 50px;
  background: #f7f8fa;

}
