/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


 .banner {
  display: table;
  position: relative;
  text-align: center;
  background-size: cover;
  color: white;
  width: 1886;
  height: 300;
 }

 #background_img{
  display: block;
  position: center;
  width: 100%;
  height: auto;
 }

 .logo {
  color: lightgrey;
  font-family: 'Codystar', Helvetica, sans-serif;
  font-size: 30px;
  text-decoration: none;
 }

 #navbar {
  overflow: hidden;
  background: transparent;
  position: absolute;
  top: 16px;
  left: 16px;
  text-decoration: none;
}


/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 60px;
}
