/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.app {
  font-family: 'Arimo', sans-serif;
}

body{
  background-color: #2C2F34;
}

.link-text {
  text-decoration: none;
}

.signup:hover, .joinbutton:hover {
  background-color: #00aaff;
}

.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 10;
}

.modal-child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  background-color: white;
  width: 650px;
  height: 650px;
  background-color: #DADEDF;
}

.index-panel {
    padding: 0;
    background-color: transparent;
    padding: 25px;
    border-radius: 5px;
    background-color: #2C2F34;
    background-image: url('/assets/floral.jpg');
    width: auto;
    margin: auto;
}


.imageList {
    // width: 100%;
    // display: inline-block;
    // vertical-align: top;
    // right: auto;
    // left: 0;
    // position: relative;
    // z-index: 2;
}

.image-cards {
    display: flex;
    margin-top: 70px;
    padding: 0;
    border: 0;

    font: inherit;
    vertical-align: baseline;
    flex-wrap: wrap;
    justify-content: center;
}
