.session-wrapper{
  background-color: #777777;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.login-form-box{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border-style: solid;
  border-width: 1px;
  border-color: lightgrey;
  width: 500px;
  height: 400px;
}

.login-form{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}
