.session-wrapper{
  background-color: #777777;
  background-image: image_url('/assets/mountain.jpg');
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.login-form-box{
  background-color: white;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 50%;

}

.login-form{
  display: flex;
  flex-flow: column wrap;
  width: 300px;
}

.login-input{
  border-radius: 3px;
  border: 1px solid rgba(185, 193, 199, 0.5);
  color: #525558;
  padding: 8px 10px;
  width: 100%;
}

.demo_user{
  margin-top: 20%;
}

.errors{
  display: flex;
  flex-direction: column;
  color: red;
}

.log-in-greeting{
  display: flex;
  flex-direction: column;
  font-family: Helvetica, sans-serif;
}

.greeting-header {
  font-size: 24px;
  color: #525558;
}

.session-redirect {
  font-size: 16px;
  color: #71767a;
  margin-top: 15px;
}

.login_button{
  margin: auto;
  margin-top: 10px;
  width: 60px;
}

.username, .password{
  color: #71767A;
  font-size: 14px;
  margin: 15px 0 5px 0;
  align-self: flex-start;
}
